docu/ML_OA_DATA.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Result">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DocInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Field" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="ColName" use="optional"/>
                      <xs:attribute type="xs:string" name="DisName" use="optional"/>
                      <xs:attribute type="xs:string" name="type" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Attachments">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Attachment" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="type" use="optional"/>
                      <xs:attribute type="xs:short" name="fileid" use="optional"/>
                      <xs:attribute type="xs:int" name="filesize" use="optional"/>
                      <xs:attribute type="xs:string" name="filename" use="optional"/>
                      <xs:attribute type="xs:string" name="pzm" use="optional"/>
                      <xs:attribute type="xs:string" name="ftpdir" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>