docu/ML_TODO_DATA.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ToDoTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Task" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:int" name="F_TaskID" use="optional"/>
                <xs:attribute type="xs:int" name="F_NetModuleID" use="optional"/>
                <xs:attribute type="xs:string" name="F_TaskName" use="optional"/>
                <xs:attribute type="xs:string" name="F_BeginDate" use="optional"/>
                <xs:attribute type="xs:string" name="F_CreateDate" use="optional"/>
                <xs:attribute type="xs:string" name="F_CreatorUsrName" use="optional"/>
                <xs:attribute type="xs:string" name="F_TaskLinkUrl" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>